.card-thumb {
    height: 350px;
}

.card-movie,
.card-movie-thumb.h-100 {
    padding-top: 0;
}
.card-movie,
.card-movie-thumb {
    overflow: hidden;
    transition-duration: 0.2s;
}
.card-date-month,
.card-movie-description {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cat-movie-div {
    max-width: 900px;
}
.cat-movie-span {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    box-shadow: 0 0 10px #000;
}
.cat-movie-span i {
    margin-left: 0;
    font-size: 30px;
}
.cat-movie-span.p6 i {
    color: #0086a3;
}
.cat-movie-span.p6 span {
    position: absolute;
    top: -27px;
    font-size: 15px;
}
.cat-movie-span.p5 span {
    position: absolute;
    top: 85px;
    font-size: 15px;
}
.card-movie {
    height: 400px;
}
.card-new {
    max-height: 305px;
    width: 240px;
    overflow: hidden;
}
.card-movie-img-top {
    padding-top: 0;
    width: 280px;
    overflow: hidden;
}
.card-movie:hover .card-movie-thumb,
img {
    transition-duration: 0.3s;
}
.card-movie-thumb {
    background-color: #000;
}
.card-masqued {
    text-align: center;
}
.card-masqued .btn:hover {
    color: #fff !important;
    background-color: #0086a3;
}
.card-movie-description {
    text-align: right;
    font-size: 16px;
    color: #0086a3;
}
.card-category,
.card-date {
    position: absolute;
    top: 0;
    height: 55px;
    width: 55px;
    background-color: #0086a3;
    color: #fff;
}
.card-date {
    right: -75px;
    padding-top: 7px;
    padding-left: 2px;
    text-align: center;
    line-height: 13px;
    font-weight: 700;
    border: 1px solid #fff;
    border-bottom-left-radius: 100%;
    transition-duration: 0.4s;
}
.card-movie:hover .card-date {
    position: absolute;
    right: 0;
    transition-duration: 0.4s;
}
.card-date-day {
    font-size: 14px;
    display: block;
}
.card-date-month {
    font-size: 7px;
    display: block;
    text-transform: uppercase;
}
.card-category {
    left: -75px;
    padding: 10px;
    border-bottom-right-radius: 100%;
    border: 1px solid #fff;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    transition-duration: 0.4s;
}
.card-content,
.card-movie-body,
.card-movie:hover .card-content {
    background-color: #fff;
    position: absolute;
    transition-duration: 0.4s;
}
.card-category a i {
    padding-top: 10px;
}
.card-movie:hover .card-category {
    left: 0;
    transition-duration: 0.4s;
}

.card-content *:not(h5, img){
    margin-left: 20px;
}

.card-content,
.card-movie-body {
    top: 70%;
    height: 55%;
}
.card-movie:hover .card-content {
    top: 50%;
    height: 50%;
}
.card-movie:hover .card-movie-body {
    position: absolute;
    top: 50%;
    transition-duration: 0.4s;
}
.card-movie:hover .wout {
    background-color: #333 !important;
}
.card-movie .card-title span {
    color: #444;
    font-size: 16px;
}
.card-movie .card-title a {
    color: #828282;
    font-size: 12px;
}
.card-movie .card-title {
    text-align: left;
}
.rate {
    right: 20px;
    top: -30px;
}

.like {
    right: 20px;
    top: 10px;
}

.card {
    margin: 10px;
    margin-bottom: 70px;
    height: 350px;
    overflow: hidden;
}


  .divLoaderView {
    position: absolute;
    right: 50%;
    margin-right: -10px;
    width: 20px;
    height: 20px;
    top: 35%;
  }

  .svgLoaderView {
    animation: spin 3s linear infinite;
    margin: auto;
    height: 20px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }