.carousel{
    height: 400px;
    background-color: #10101a;
}

.p-7{
    padding: 6rem;
}

.season-number-selected {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: #fff;
    font-weight: bold;
    color: #10101a;
    font-size: 18px;
    border-radius: 100%;
}

.season-number{
    width: 30px;
    height: 30px;
    margin: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.carousel-cards::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.carousel-cards {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}